<section id="skills">
  <div class="container">
    <div class="text-center mb-5 fade-up" appFadeUp>
      <p class="section-tag">// habilidades técnicas</p>
      <h2 class="section-title">Minha <span>stack</span> principal</h2>
      <div class="section-divider mx-auto"></div>
    </div>

    <div class="row g-4 justify-content-center">

      <div class="row g-4 justify-content-center">
        @for (skill of skills; track skill.name) {
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 fade-up" appFadeUp>
            <div class="skill-card">
        <span class="icon" [style.color]="skill.iconColor">
          <i [class]="skill.icon"></i>
        </span>
              <span class="name">{{ skill.name }}</span>
            </div>
          </div>
        }
      </div>

    </div>
  </div>
</section>
